*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --accent-color: #FF5722;
    --dark-bg: #222831;
    --light-bg: #2D4059;
    --text-color: #EEEEEE;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-bg);
}

.container{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .output-container{
    background-color: var(--dark-bg);
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
}

.output-container .prev-operand, .current-operand{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: bold;
}

.output-container .current-operand{
    height: 80px;
    font-size: 3rem;
}


.container .button-container{
    background-color: var(--dark-bg);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button-container .btn{
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.button-container .equal, .all-clear{
    grid-column: span 2;
}
.button-container .equal{
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.6rem;
}

.button-container .delete, .all-clear{
    background-color: var(--light-bg);
    color: var(--text-color);
}